.space {
    margin-bottom: 10px;
}
.controls {
    grid-row-start: 2;
    grid-row-end: 3;
}

.scroller {
    overflow-y: auto;
    grid-row-start: 3;
    grid-row-end: 38;
}

.img_center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100px;
    width: auto;
  }